/* font-family: "Anton", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* font-family: "Montserrat", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --branco: #FFFFFF;
    --cinza: #2C2C2C;
    --preto: #000000;
    --vermelho: #D41F1F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SECTION INICIO */
.inicio{
    background: url(../image/background-inicio.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}

header, .navegacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1% 10% 0 10%; 
}
.titulo-page{
    color: var(--branco);
    font-weight: bold;
    font-family: "Anton", sans-serif;
    font-size: 90px;
}
.navegacao{
    gap: 70px;
    z-index: 2;
}
.navegacao a{
    text-decoration: none;
    color: var(--branco);
    transition: 1s;
    font-weight: bold;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
}
.navegacao a:hover{
    color: var(--vermelho);
}

.titulo-inicio{
    color: var(--branco);
    font-weight: bold;
    font-family: "Anton", sans-serif;
    font-size: 90px;
    margin-top: 20%;
}
.subtitulo-inicio{
    color: var(--branco);
    font-weight: bold;
    font-family: "Montserrat", sans-serif; 
    font-size: 25px;
}

/* SECTION HISTÓRIA */

/* SECTION INTEGRANTES */

/* SECTION DISCOGRAFIA */


/* SECTION LEGADO */